.movie-card
    border: 1px solid black
    width: 350px
    height: 600px
    

.movie-card h3
    background-color: rgba(221, 211, 19, 0.4)
    width: 100%
    height: 10%
    display: flex
    justify-content: center
    align-items: center
    text-align: center


.poster 
    width: 350px
    height: 500px
    