/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/poppins')

body
    font-family: 'Poppins', sans-serif

.class
    border: 2px solid black
    margin: 20px